
html {
    position: relative;
    min-height: 100%;
    
}

body {
    background: #e9e9e9;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-width: 360px;
    overflow-y: hidden;
	overflow-x: hidden;
}

.close:focus {
  outline: none;
}

.modal-body{

	label {
		font-size: 11px;
		font-weight:normal;
	}

	.line-end{

		margin-bottom: 10px;
	}

}

#pin-list {

	z-index: -100;

	display: block;
	
	position: absolute;

	left: 0;

	overflow-y: auto;
	overflow-x: hidden;

	.item-container {
		display: block;
		position: absolute;
		height: 0;
		background-color: #e9e9e9;
	}
}

.pin-list-item {

	display: block;

	position: absolute;

	margin: 10px 0 10px 0;

	border-radius: 6px;

	overflow: hidden;

	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);

	background-color: rgba(255,255,255,0.5);

	*:not(:first-child){
		border-top: 1px solid rgb(231, 231, 231);
	}

	.pin-thumbnail {
		padding: 0;
		margin: 0;
		border: 0;
	};

	.pin-copy {
		color: #333;
		padding: 0 10px;
		background-color: #fff;

		a{
			border:none;
		}
	};

	.pin-control {

		background-color: #fff;
		padding: 0 10px;

		.icon-btn {

			width: 22px;

			height: 22px;

			display: inline-block;

			padding: 0;

			margin: 10px 12px 10px 0;

			cursor: pointer;

		}
	};

	p {
		font-size: 12px;
		line-height: 17px;
		word-wrap: break-word;
		/*margin: 12px 0px; */
		margin: 0;
		padding: 12px 0;
	};
}


.selected {
	box-shadow: 0 0 0 2px #40a8ff;
}

.no-select {
	user-select: none;
}

.form-group {
	margin-bottom: 12px;
}

#user-control {

	display: block;
	/*position: absolute;*/
	background-color: #fff;
	color: #999;
	padding: 14px 0 0 10px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);

	.row{
		margin-left: 0;
		margin-right: 0;
	}

	.col-item {
		padding-left: 0px;
		padding-right: 10px;
	}

	.ctl {

		 margin-bottom: 5px;

		 .ctl-bn {
			cursor: pointer;
			display: inline-block;
			padding-right: 9px;
		}

		.disabled {

			cursor: auto;
			opacity: 0.4;
		}
	}

	

	.info {
		text-align: right;
		font-size: 9px;

		p {
			color:#ccc;
			margin: 2px 0 0 0;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		}
	}
	
}
