<style type="text/css">
  html,body,.body {
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .au-logo {
  	width:94px; height:30px;
  }
</style>
<div class="body">
    <h4>By: <a href="http://heyzxz.me">HeyZXZ</a> (<a href="mailto:heyzxz@gmail.com">heyzxz@gmail.com</a>)</h4>
    <p>This app is made with <a href="https://github.com/nwjs/nw.js">nwjs</a> (<a href="./app.nw/credits.html">Show Credits</a>).</p>
</div>